<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>common_ui/panel_main.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,105}</string>
    <key>spriteSourceSize</key>
    <string>{405,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{405,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>common_ui/panel_medium_main.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,105}</string>
    <key>spriteSourceSize</key>
    <string>{240,105}</string>
    <key>textureRect</key>
    <string>{{0,214},{240,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>common_ui/panel_medium_sec.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{240,105}</string>
    <key>spriteSourceSize</key>
    <string>{240,105}</string>
    <key>textureRect</key>
    <string>{{0,321},{240,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>common_ui/panel_sec.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{405,105}</string>
    <key>spriteSourceSize</key>
    <string>{405,105}</string>
    <key>textureRect</key>
    <string>{{0,107},{405,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>common_ui/panel_short_main.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,100}</string>
    <key>spriteSourceSize</key>
    <string>{150,100}</string>
    <key>textureRect</key>
    <string>{{242,214},{150,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>common_ui/panel_short_sec.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,100}</string>
    <key>spriteSourceSize</key>
    <string>{150,100}</string>
    <key>textureRect</key>
    <string>{{242,316},{150,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{407,428}</string>
   <key>textureFileName</key>
   <string>menu.png</string>
  </dict>
 </dict>
</plist>
