<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_panel_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,105}</string>
                <key>spriteSourceSize</key>
                <string>{405,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{405,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_panel_sec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,105}</string>
                <key>spriteSourceSize</key>
                <string>{405,105}</string>
                <key>textureRect</key>
                <string>{{405,0},{405,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{810,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f075d66313fce5c41f1bc63afc1dd89:4247337f9424a2e00f5194710444d5ed:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
