<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>snake/body/ne01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,6}</string>
    <key>spriteSize</key>
    <string>{38,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{164,242},{38,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/ne02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,5}</string>
    <key>spriteSize</key>
    <string>{38,39}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{84,242},{38,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/ns01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{428,242},{26,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/ns02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,50}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{456,242},{26,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/se01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-6}</string>
    <key>spriteSize</key>
    <string>{38,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{284,242},{38,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/se02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-6}</string>
    <key>spriteSize</key>
    <string>{38,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{204,242},{38,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/we01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,27}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{376,242},{50,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/we02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,27}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{324,242},{50,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/wn01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,6}</string>
    <key>spriteSize</key>
    <string>{40,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{0,242},{40,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/wn02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,6}</string>
    <key>spriteSize</key>
    <string>{38,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{124,242},{38,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/ws01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-6}</string>
    <key>spriteSize</key>
    <string>{38,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{244,242},{38,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/body/ws02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-6}</string>
    <key>spriteSize</key>
    <string>{40,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,50}</string>
    <key>textureRect</key>
    <string>{{42,242},{40,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/g2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{960,240}</string>
    <key>spriteSourceSize</key>
    <string>{960,240}</string>
    <key>textureRect</key>
    <string>{{0,0},{960,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{962,294}</string>
   <key>textureFileName</key>
   <string>snake.png</string>
  </dict>
 </dict>
</plist>
