<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>animations</key>
  <dict>
    <key>snake_ne</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/ne01.png</string>
        <string>snake/body/ne02.png</string>
      </array>
    </dict>

    <key>snake_ns</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/ns01.png</string>
        <string>snake/body/ns02.png</string>
      </array>
    </dict>

    <key>snake_se</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/se01.png</string>
        <string>snake/body/se02.png</string>
      </array>
    </dict>

    <key>snake_we</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/we01.png</string>
        <string>snake/body/we02.png</string>
      </array>
    </dict>

    <key>snake_wn</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/wn01.png</string>
        <string>snake/body/wn02.png</string>
      </array>
    </dict>

    <key>snake_ws</key>
    <dict>
      <key>delay</key>
      <real>0.2</real>
      <key>frames</key>
      <array>
        <string>snake/body/ws01.png</string>
        <string>snake/body/ws02.png</string>
      </array>
    </dict>




  </dict>
</dict>
</plist>
