<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_map07a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_map08a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_map09a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{0,576},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_map10a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{192,576},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_map10b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{0,1152},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_map11a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,576}</string>
                <key>spriteSourceSize</key>
                <string>{192,576}</string>
                <key>textureRect</key>
                <string>{{192,1152},{192,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maps.png</string>
            <key>size</key>
            <string>{384,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5878542e66fc77bcd53f5cd7a1ff4c70:8497c683de05e4b422eaaf462299b116:cff09cdbcaccc8bde4d9623bee080541$</string>
            <key>textureFileName</key>
            <string>maps.png</string>
        </dict>
    </dict>
</plist>
