<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{13,0},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_blue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{26,0},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_brown_big_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,98}</string>
                <key>textureRect</key>
                <string>{{0,37},{120,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_brown_medium_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{0,135},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_brown_medium_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{43,135},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_brown_small_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{88,135},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{0,178},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asteroids.png</string>
            <key>size</key>
            <string>{120,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:348c984b55ca24b9b32ad7f27a1b07eb:9a1c685ecde405feff4c07678bc2c61c:c9503d2abe1badaea40a65c509bc397f$</string>
            <key>textureFileName</key>
            <string>asteroids.png</string>
        </dict>
    </dict>
</plist>
