<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>animations</key>
  <dict>

  <key>actor_move_north</key>
  <dict>
    <key>delay</key>
    <real>0.7</real>
    <key>frames</key>
    <array>
      <string>sokoban/kfm/kfm_walk_north_00</string>
      <string>sokoban/kfm/kfm_walk_north_01</string>
      <string>sokoban/kfm/kfm_walk_north_02</string>
      <string>sokoban/kfm/kfm_walk_north_03</string>
    </array>
  </dict>

  <key>actor_move_south</key>
  <dict>
    <key>delay</key>
    <real>0.7</real>
    <key>frames</key>
    <array>
      <string>sokoban/kfm/kfm_walk_south_00</string>
      <string>sokoban/kfm/kfm_walk_south_01</string>
      <string>sokoban/kfm/kfm_walk_south_02</string>
      <string>sokoban/kfm/kfm_walk_south_03</string>
    </array>
  </dict>

  <key>actor_move_east</key>
  <dict>
    <key>delay</key>
    <real>0.7</real>
    <key>frames</key>
    <array>
      <string>sokoban/kfm/kfm_walk_east_00</string>
      <string>sokoban/kfm/kfm_walk_east_01</string>
      <string>sokoban/kfm/kfm_walk_east_02</string>
      <string>sokoban/kfm/kfm_walk_east_03</string>
    </array>
  </dict>

  <key>actor_move_west</key>
  <dict>
    <key>delay</key>
    <real>0.7</real>
    <key>frames</key>
    <array>
      <string>sokoban/kfm/kfm_walk_west_00</string>
      <string>sokoban/kfm/kfm_walk_west_01</string>
      <string>sokoban/kfm/kfm_walk_west_02</string>
      <string>sokoban/kfm/kfm_walk_west_03</string>
    </array>
  </dict>

  </dict>
</dict>
</plist>
