<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>sokoban/beetle/beetle5a_ew01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{148,218},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ew02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,218},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ew03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{148,240},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ew04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{82,238},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ew05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,174},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ns01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{196,46},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ns02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{148,142},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ns03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{82,186},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ns04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{28,29}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,186},{28,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_ns05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{204,0},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_sn01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{52,217},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_sn02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,94},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_sn03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,123},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_sn04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{116,174},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_sn05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{0,218},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_we01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,196},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_we02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{82,216},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_we03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{184,152},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_we04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{214,116},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/beetle/beetle5a_we05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-9}</string>
    <key>spriteSize</key>
    <string>{34,20}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{214,94},{34,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_east_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{16,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{148,172},{16,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_east_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{22,46}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{24,138},{22,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_east_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{46,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{48,0},{46,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_east_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{28,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{96,0},{28,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_north_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{64,94},{24,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_north_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{22,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{90,140},{22,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_north_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{46,46}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_north_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-1}</string>
    <key>spriteSize</key>
    <string>{32,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{0,94},{32,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_south_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{126,0},{24,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_south_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{20,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{162,94},{20,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_south_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{46,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{48,46},{46,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_south_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-1}</string>
    <key>spriteSize</key>
    <string>{28,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{34,94},{28,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_west_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{16,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{226,46},{16,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_west_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{18,46}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{32,186},{18,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_west_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{46,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{0,48},{46,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_attack_west_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{24,44}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{90,94},{24,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_east_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{14,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{118,216},{14,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_east_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{20,46}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{140,94},{20,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_east_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{14,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{234,0},{14,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_east_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{22,46}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{116,94},{22,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_north_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{96,46},{24,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_north_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{64,140},{24,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_north_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{122,46},{24,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_north_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{64,140},{24,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_south_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{152,0},{24,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_south_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,38}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{178,0},{24,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_south_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{152,0},{24,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_south_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{24,38}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{170,46},{24,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_west_00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{22,46}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{0,138},{22,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_west_01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{14,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{48,138},{14,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_west_02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{20,46}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{148,46},{20,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/kfm/kfm_walk_west_03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{14,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,48}</string>
    <key>textureRect</key>
    <string>{{166,172},{14,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/target/filled</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,186},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sokoban/target/open</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{116,142},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{250,262}</string>
   <key>textureFileName</key>
   <string>movables.png</string>
  </dict>
 </dict>
</plist>
