<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>blackjack/CardBack3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1584,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/10ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/2ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/3ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/4ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/5ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/6ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1584,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/7ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/8ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/9ofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/AofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/JofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/KofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Hearts/QofHearts.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1980,1788}</string>
   <key>textureFileName</key>
   <string>cards_hearts.png</string>
  </dict>
 </dict>
</plist>
