<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>blackjack/Joker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/10ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/2ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/3ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/4ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/5ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1584,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/6ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{396,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/7ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{0,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/8ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/9ofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1584,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/AofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,1192},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/JofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,596},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/KofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{1188,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blackjack/Spades/QofSpades.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,594}</string>
    <key>spriteSourceSize</key>
    <string>{394,595}</string>
    <key>textureRect</key>
    <string>{{792,0},{394,594}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1980,1788}</string>
   <key>textureFileName</key>
   <string>cards_spades.png</string>
  </dict>
 </dict>
</plist>
