<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>fire_ring_splash</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>repeat/fire_ring/fire_ring_splash_00.png</string>
				<string>repeat/fire_ring/fire_ring_splash_01.png</string>
				<string>repeat/fire_ring/fire_ring_splash_02.png</string>
				<string>repeat/fire_ring/fire_ring_splash_03.png</string>
				<string>repeat/fire_ring/fire_ring_splash_04.png</string>
				<string>repeat/fire_ring/fire_ring_splash_05.png</string>
				<string>repeat/fire_ring/fire_ring_splash_06.png</string>
				<string>repeat/fire_ring/fire_ring_splash_07.png</string>
				<string>repeat/fire_ring/fire_ring_splash_08.png</string>
				<string>repeat/fire_ring/fire_ring_splash_09.png</string>
				<string>repeat/fire_ring/fire_ring_splash_10.png</string>
				<string>repeat/fire_ring/fire_ring_splash_11.png</string>
				<string>repeat/fire_ring/fire_ring_splash_12.png</string>
				<string>repeat/fire_ring/fire_ring_splash_13.png</string>
				<string>repeat/fire_ring/fire_ring_splash_14.png</string>
				<string>repeat/fire_ring/fire_ring_splash_15.png</string>
				<string>repeat/fire_ring/fire_ring_splash_16.png</string>
				<string>repeat/fire_ring/fire_ring_splash_17.png</string>
				<string>repeat/fire_ring/fire_ring_splash_18.png</string>
				<string>repeat/fire_ring/fire_ring_splash_19.png</string>

				<string>repeat/fire_ring/fire_ring_splash_20.png</string>
				<string>repeat/fire_ring/fire_ring_splash_21.png</string>
				<string>repeat/fire_ring/fire_ring_splash_22.png</string>
				<string>repeat/fire_ring/fire_ring_splash_23.png</string>
				<string>repeat/fire_ring/fire_ring_splash_24.png</string>
				<string>repeat/fire_ring/fire_ring_splash_25.png</string>
				<string>repeat/fire_ring/fire_ring_splash_26.png</string>
				<string>repeat/fire_ring/fire_ring_splash_27.png</string>
				<string>repeat/fire_ring/fire_ring_splash_28.png</string>
				<string>repeat/fire_ring/fire_ring_splash_29.png</string>
				<string>repeat/fire_ring/fire_ring_splash_30.png</string>
				<string>repeat/fire_ring/fire_ring_splash_31.png</string>
				<string>repeat/fire_ring/fire_ring_splash_32.png</string>
				<string>repeat/fire_ring/fire_ring_splash_33.png</string>
				<string>repeat/fire_ring/fire_ring_splash_34.png</string>
				<string>repeat/fire_ring/fire_ring_splash_35.png</string>
				<string>repeat/fire_ring/fire_ring_splash_36.png</string>
				<string>repeat/fire_ring/fire_ring_splash_37.png</string>
				<string>repeat/fire_ring/fire_ring_splash_38.png</string>
				<string>repeat/fire_ring/fire_ring_splash_39.png</string>

				<string>repeat/fire_ring/fire_ring_splash_40.png</string>
				<string>repeat/fire_ring/fire_ring_splash_41.png</string>
				<string>repeat/fire_ring/fire_ring_splash_42.png</string>
				<string>repeat/fire_ring/fire_ring_splash_43.png</string>
				<string>repeat/fire_ring/fire_ring_splash_44.png</string>
				<string>repeat/fire_ring/fire_ring_splash_45.png</string>
				<string>repeat/fire_ring/fire_ring_splash_46.png</string>

			</array>
		</dict>

		<key>white_rocket</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>repeat/white_rocket/white_rocket_00.png</string>
				<string>repeat/white_rocket/white_rocket_01.png</string>
				<string>repeat/white_rocket/white_rocket_02.png</string>
				<string>repeat/white_rocket/white_rocket_03.png</string>
				<string>repeat/white_rocket/white_rocket_04.png</string>
				<string>repeat/white_rocket/white_rocket_05.png</string>
				<string>repeat/white_rocket/white_rocket_06.png</string>
				<string>repeat/white_rocket/white_rocket_07.png</string>
				<string>repeat/white_rocket/white_rocket_08.png</string>
				<string>repeat/white_rocket/white_rocket_09.png</string>
				<string>repeat/white_rocket/white_rocket_10.png</string>
				<string>repeat/white_rocket/white_rocket_11.png</string>
				<string>repeat/white_rocket/white_rocket_12.png</string>
				<string>repeat/white_rocket/white_rocket_13.png</string>
				<string>repeat/white_rocket/white_rocket_14.png</string>
				<string>repeat/white_rocket/white_rocket_15.png</string>
				<string>repeat/white_rocket/white_rocket_16.png</string>
				<string>repeat/white_rocket/white_rocket_17.png</string>
				<string>repeat/white_rocket/white_rocket_18.png</string>
				<string>repeat/white_rocket/white_rocket_19.png</string>

				<string>repeat/white_rocket/white_rocket_20.png</string>
				<string>repeat/white_rocket/white_rocket_21.png</string>
				<string>repeat/white_rocket/white_rocket_22.png</string>
				<string>repeat/white_rocket/white_rocket_23.png</string>
				<string>repeat/white_rocket/white_rocket_24.png</string>
				<string>repeat/white_rocket/white_rocket_25.png</string>
				<string>repeat/white_rocket/white_rocket_26.png</string>
				<string>repeat/white_rocket/white_rocket_27.png</string>
				<string>repeat/white_rocket/white_rocket_28.png</string>
				<string>repeat/white_rocket/white_rocket_29.png</string>
				<string>repeat/white_rocket/white_rocket_30.png</string>
				<string>repeat/white_rocket/white_rocket_31.png</string>
				<string>repeat/white_rocket/white_rocket_32.png</string>
				<string>repeat/white_rocket/white_rocket_33.png</string>
				<string>repeat/white_rocket/white_rocket_34.png</string>
				<string>repeat/white_rocket/white_rocket_35.png</string>
				<string>repeat/white_rocket/white_rocket_36.png</string>
				<string>repeat/white_rocket/white_rocket_37.png</string>
				<string>repeat/white_rocket/white_rocket_38.png</string>
				<string>repeat/white_rocket/white_rocket_39.png</string>

				<string>repeat/white_rocket/white_rocket_40.png</string>
				<string>repeat/white_rocket/white_rocket_41.png</string>
				<string>repeat/white_rocket/white_rocket_42.png</string>
				<string>repeat/white_rocket/white_rocket_43.png</string>
				<string>repeat/white_rocket/white_rocket_44.png</string>
				<string>repeat/white_rocket/white_rocket_45.png</string>
				<string>repeat/white_rocket/white_rocket_46.png</string>
				<string>repeat/white_rocket/white_rocket_47.png</string>
				<string>repeat/white_rocket/white_rocket_48.png</string>
				<string>repeat/white_rocket/white_rocket_49.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
