<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>repeat/fire_ring/fire_ring_splash_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-99,99}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{352,324},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-54,8}</string>
    <key>spriteSize</key>
    <string>{44,40}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{730,670},{44,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-54,-4}</string>
    <key>spriteSize</key>
    <string>{44,64}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{684,670},{44,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-46,-12}</string>
    <key>spriteSize</key>
    <string>{60,80}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{240,936},{60,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-40,-20}</string>
    <key>spriteSize</key>
    <string>{72,88}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{874,0},{72,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-28,-22}</string>
    <key>spriteSize</key>
    <string>{96,92}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{850,158},{96,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-24,-22}</string>
    <key>spriteSize</key>
    <string>{104,92}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{826,414},{104,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-22}</string>
    <key>spriteSize</key>
    <string>{128,92}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{806,544},{128,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-22}</string>
    <key>spriteSize</key>
    <string>{144,92}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{324,908},{144,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-22}</string>
    <key>spriteSize</key>
    <string>{148,92}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{592,750},{148,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-24}</string>
    <key>spriteSize</key>
    <string>{156,88}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,928},{156,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-20}</string>
    <key>spriteSize</key>
    <string>{164,96}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{470,652},{164,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-12}</string>
    <key>spriteSize</key>
    <string>{164,112}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{684,300},{164,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{164,120}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{708,0},{164,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{164,140}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{684,158},{164,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{168,148}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{514,158},{168,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{168,148}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{356,498},{168,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{168,148}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,652},{168,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{168,148}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{514,308},{168,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{172,148}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{534,0},{172,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{172,156}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{178,324},{172,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{176,156}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,324},{176,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{176,156}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{356,0},{176,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{176,160}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,0},{176,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{176,160}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{178,162},{176,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{176,160}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,162},{176,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{176,160}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{178,0},{176,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,4}</string>
    <key>spriteSize</key>
    <string>{156,168}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{356,158},{156,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_28.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,4}</string>
    <key>spriteSize</key>
    <string>{156,168}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,482},{156,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,4}</string>
    <key>spriteSize</key>
    <string>{152,168}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{158,482},{152,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,4}</string>
    <key>spriteSize</key>
    <string>{152,168}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{356,328},{152,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,0}</string>
    <key>spriteSize</key>
    <string>{152,160}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{170,652},{152,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_32.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,16}</string>
    <key>spriteSize</key>
    <string>{152,128}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{526,498},{152,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,16}</string>
    <key>spriteSize</key>
    <string>{144,128}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{324,652},{144,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_34.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,16}</string>
    <key>spriteSize</key>
    <string>{140,128}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{684,414},{140,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_35.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,18}</string>
    <key>spriteSize</key>
    <string>{140,124}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{0,802},{140,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_36.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,18}</string>
    <key>spriteSize</key>
    <string>{120,124}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{684,544},{120,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_37.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,18}</string>
    <key>spriteSize</key>
    <string>{120,124}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{324,782},{120,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_38.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,16}</string>
    <key>spriteSize</key>
    <string>{120,120}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{470,750},{120,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_39.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,20}</string>
    <key>spriteSize</key>
    <string>{124,120}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{170,814},{124,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_40.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-40,-2}</string>
    <key>spriteSize</key>
    <string>{72,76}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{850,252},{72,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_41.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-38,-8}</string>
    <key>spriteSize</key>
    <string>{68,72}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{170,936},{68,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_42.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-38,-8}</string>
    <key>spriteSize</key>
    <string>{68,72}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{850,330},{68,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_43.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-32,-26}</string>
    <key>spriteSize</key>
    <string>{56,20}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{514,458},{56,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_44.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-30,-26}</string>
    <key>spriteSize</key>
    <string>{52,20}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{708,122},{52,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_45.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-28,-26}</string>
    <key>spriteSize</key>
    <string>{48,12}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{514,480},{48,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/fire_ring/fire_ring_splash_46.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-99,99}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{352,324},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/number_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{15,60}</string>
    <key>spriteSourceSize</key>
    <string>{15,93}</string>
    <key>textureRect</key>
    <string>{{923,90},{15,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/number_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{47,62}</string>
    <key>spriteSourceSize</key>
    <string>{47,93}</string>
    <key>textureRect</key>
    <string>{{874,90},{47,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/number_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{46,62}</string>
    <key>spriteSourceSize</key>
    <string>{46,93}</string>
    <key>textureRect</key>
    <string>{{636,652},{46,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/number_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{39,63}</string>
    <key>spriteSourceSize</key>
    <string>{39,93}</string>
    <key>textureRect</key>
    <string>{{312,482},{39,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{742,750},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,6}</string>
    <key>spriteSize</key>
    <string>{15,138}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{504,872},{15,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{15,147}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{592,844},{15,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{908,760},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{694,844},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{776,750},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{908,638},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{840,888},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,24}</string>
    <key>spriteSize</key>
    <string>{15,102}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{329,547},{15,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{823,769},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,16}</string>
    <key>spriteSize</key>
    <string>{15,117}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{840,769},{15,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{776,872},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{711,844},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,13}</string>
    <key>spriteSize</key>
    <string>{15,123}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{446,782},{15,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{15,132}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{555,872},{15,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{15,141}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{470,872},{15,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,150}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{806,638},{15,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,24}</string>
    <key>spriteSize</key>
    <string>{15,102}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{312,547},{15,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,12}</string>
    <key>spriteSize</key>
    <string>{15,126}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{857,638},{15,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{15,135}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{538,872},{15,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,22}</string>
    <key>spriteSize</key>
    <string>{15,105}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{908,873},{15,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_21.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{572,872},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_22.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{296,814},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_23.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{643,844},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_24.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,22}</string>
    <key>spriteSize</key>
    <string>{15,105}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{925,873},{15,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_25.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{759,878},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_26.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{874,638},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_27.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{626,844},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_28.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{823,891},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_29.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,13}</string>
    <key>spriteSize</key>
    <string>{15,123}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{142,802},{15,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_30.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{857,885},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_31.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{840,638},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_32.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,12}</string>
    <key>spriteSize</key>
    <string>{15,126}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{759,750},{15,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_33.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,7}</string>
    <key>spriteSize</key>
    <string>{15,135}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{521,872},{15,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_34.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,10}</string>
    <key>spriteSize</key>
    <string>{15,129}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{823,638},{15,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_35.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,13}</string>
    <key>spriteSize</key>
    <string>{15,123}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{660,844},{15,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_36.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{15,132}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{609,844},{15,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_37.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{15,141}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{487,872},{15,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_38.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,150}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{924,252},{15,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_39.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{925,760},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_40.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{15,114}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{742,881},{15,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_41.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{925,638},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_42.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,19}</string>
    <key>spriteSize</key>
    <string>{15,111}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{891,760},{15,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_43.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{806,790},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_44.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{891,638},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_45.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,16}</string>
    <key>spriteSize</key>
    <string>{15,117}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{857,766},{15,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_46.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,21}</string>
    <key>spriteSize</key>
    <string>{15,108}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{874,876},{15,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_47.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,22}</string>
    <key>spriteSize</key>
    <string>{15,105}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{891,873},{15,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_48.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{15,114}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{874,760},{15,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>repeat/white_rocket/white_rocket_49.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,15}</string>
    <key>spriteSize</key>
    <string>{15,120}</string>
    <key>spriteSourceSize</key>
    <string>{21,156}</string>
    <key>textureRect</key>
    <string>{{677,844},{15,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{948,1018}</string>
   <key>textureFileName</key>
   <string>repeat.png</string>
  </dict>
 </dict>
</plist>
