<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>snake/barrel/barrel_a.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,-16}</string>
    <key>spriteSize</key>
    <string>{50,48}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{72,181},{50,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_b.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-17}</string>
    <key>spriteSize</key>
    <string>{52,45}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{140,137},{52,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_c.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,-15}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,180},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_d1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-12}</string>
    <key>spriteSize</key>
    <string>{60,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{74,0},{60,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_d2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-8}</string>
    <key>spriteSize</key>
    <string>{70,64}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,71},{70,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_d3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-5}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,0},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/barrel/barrel_destroyed.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-18}</string>
    <key>spriteSize</key>
    <string>{62,43}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{168,58},{62,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{30,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,229},{30,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{30,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{268,115},{30,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{30,53}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{264,229},{30,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-5}</string>
    <key>spriteSize</key>
    <string>{26,57}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{112,232},{26,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{32,65}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{140,184},{32,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-5}</string>
    <key>spriteSize</key>
    <string>{46,70}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{120,58},{46,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-2}</string>
    <key>spriteSize</key>
    <string>{44,76}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{74,58},{44,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-29}</string>
    <key>spriteSize</key>
    <string>{36,21}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{168,103},{36,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-33}</string>
    <key>spriteSize</key>
    <string>{36,13}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{140,251},{36,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_death_09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-34}</string>
    <key>spriteSize</key>
    <string>{42,11}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{136,44},{42,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{30,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,229},{30,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{32,53}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{266,173},{32,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{44,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{210,0},{44,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{66,42}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{72,137},{66,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,42}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{136,0},{72,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_fly_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{70,41}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,137},{70,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_00.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{30,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,229},{30,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{32,54}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,173},{32,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{34,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{256,0},{34,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{34,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{76,232},{34,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{34,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{194,195},{34,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{34,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,115},{34,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{36,55}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{232,58},{36,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-1}</string>
    <key>spriteSize</key>
    <string>{36,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{0,232},{36,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{36,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{194,137},{36,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>snake/wizard/wizard_idle_09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{36,56}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{38,232},{36,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{300,291}</string>
   <key>textureFileName</key>
   <string>snake_images.png</string>
  </dict>
 </dict>
</plist>
